*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* here we give ropot height 100% also that it take full page */
html,
body,
#root{
  width:100%;
  height: 100%;
  background-color: black;
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
  position:relative;
} 

section{
  min-height: 100vh;
  border:2px solid white;
  z-index: 2;
  position: relative;
}

#section-1{
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    padding-top: 3.5rem;

    .nav-elem:nth-child(2){
      i{
        color: red;
      }
    }
    .nav-elem{
      max-width: 8rem;
      min-height: 2rem;
    }

    svg{
      width: 100%;
      height: 100%;
    }
  } 

  .middle{
    display: flex;

    .left,
    .right{
      width: 50%;
    }

    .left{
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    h1{
      font-size:5rem;
      line-height: 1;
    }
  }
}