@import url(https://db.onlinewebfonts.com/c/0a69472b2055d5cd74250fc782b80039?family=GT+Sectra+Fine+Medium);

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* here we give ropot height 100% also that it take full page */
html,
body,
#root{
  width:100%;
  height: 100%;
  background-color: black;
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
  position:relative;
} 

section{
  min-height: 100vh;
  border:2px solid white;
  z-index: 2;
  position: relative;
}

#canvas-elem::after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(/background-l.png);
  background-repeat:no-repeat;
  background-size:cover;
  transition: all 0.3s linear;
}

#section-1{

  --gap: 5rem;

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    padding-top: 3rem;

    .nav-elem:nth-child(2){
      i{
        color: red;
      }
    }
    .nav-elem{
      max-width: 8rem;
      min-height: 2rem;
      font-family: "Stack Sans Headline", sans-serif;
    }

    svg{
      width: 100%;
      height: 100%;
    }
  } 

  .middle{
    display: flex;
    gap: var(--gap);

    .left,
    .right{
      width: 50%;
    }

    .left{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-block: 3rem;
    }
    h1{
      font-size:8rem;
      line-height: 0.8;
      text-align: right;
      font-family: "GT Sectra Fine Medium";
      font-weight: 400;
    }
  }

  .bottom{
    display: flex;
    gap: var(--gap);

    .left,
    .right{
      width: 50%;
    }

    .right{
      p{
        font-weight: 200;
        line-height: 1.5;
      }
    }

  }

  .first-line{
    width: 40rem;
    background-color: rgb(228, 51, 51);;
    height: 1px;
    position: absolute;
    transform: rotate(45deg) translate(0,-13rem);
  }
   .second-line{
    width: 15rem;
    background-color: rgb(228, 51, 51);;
    height: 1px;
    position: absolute;
    transform: rotate(135deg);
    top: 45%;
    right: 25%;
  }
}

#section-2{
  .titles{
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    padding-block:8rem ;
  }
  .title{
    display: flex;
    gap: 2rem;
    padding-block: 2rem;
    opacity: 0.5;
    transition: all 0.3s linear;

    h1{
      font-size: 5rem;
      font-weight: 100;
      line-height: 1;
    }

  small{
    margin-top: 0.6rem;
    font-size: 0.7rem;
    width: 8rem;
  }
  
  }

  .title:hover{
    opacity: 1;
  }
}

main:has(#section-2 .title:hover) #canvas-elem::after{
  opacity: 0;
}

.images{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}

main:has(#section-2 .title[img-title="tomorrowland"]:hover) #tomorrowland{
  opacity: 1;
  background-color:#020D26;
}

main:has(#section-2 .title[img-title="navy"]:hover) #navy{
  opacity: 1;
  background-color: #030828;
}
main:has(#section-2 .title[img-title="chicago"]:hover) #chicago{
  opacity: 1;
  background-color: #021132;
}
main:has(#section-2 .title[img-title="phone"]:hover) #phone{
  opacity: 1;
  background-color: #021829;
}
main:has(#section-2 .title[img-title="kikk"]:hover) #kikk{
  opacity: 1;
  background-color:#01127C ;
}
main:has(#section-2 .title[img-title="kennedy"]:hover) #kennedy{
  opacity: 1;
  background-color: #0D2734;
}
main:has(#section-2 .title[img-title="opera"]:hover) #opera{
  opacity: 1;
  background-color:#680202 ;
}